*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(57,22,124,0.875);
}

header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed23d1;
}

header h1{
  color: #233c9c;
  font-weight: 900;
  font-size: 3em;
}

.links li{
  list-style: none;
}

.links a{
  color: black;
  text-decoration: none;
}

.section1{
  margin-top: 0;
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.profile{
  padding: 20px;
}

.profile h2{
  margin-top: 30px;
  font-size: 1.1em;
  color: #dab4eb;
}

.profile h2 span{
  color: rgb(239,9,171);
  font-size: 1.8em;
  font-weight: 900;
}

.profile h3{
  font-size: 1.1em;
  color: #dab4eb;
}

.profile ul{
  list-style: none;
  display: flex;
}

.profile ul li{
  padding: 10px;
}

.github a{
  color: grey;
}

.facebook a{
  color: blue;
}

.youtube a{
  color: red;
}

/* .btn_courss{
  display: flex;
  justify-content: flex-end;
}

.btn_courss a{
  text-decoration: none;
  background-color: #0045ff;
  padding: 3px 10px;
  margin-right: 20px;
  border: 2px solid #20444d;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 0 4px #23385e;
  outline: 5px solid white;
}

.btn_courss a:hover{
  background-color: #a400ff;
}


section h2{
  color: #00afff;
} */